<div id="pie">
	<div id="pie_main">	</div>
    <div id="inf" style="position:absolute;width:200px;height:20px;top:35px;left:300px;color:red;font-size:1.1em;">
    </div>
    <div id="pie_right">		</div>

    <div id="pie_title"><!--{$cityZH}--> <!--{$detailDate->year}-->年<!--{$detailDate->month}-->月<!--{$detailDate->day}-->日 情感调查数据详情</div>
    <div id="subtext">数据来自红网论坛</div>

    <div id="hot_word"></div>

    <div id="hot_article">
    	<div id="title_bar"><p>聚焦热帖</p></div>
    	<div id="ul_article">
            <ul>

            	<foreach name="articleData" item="temp">
					<li>
						<div id="article_title">
							<a target="_blank" href="<!--{$temp['url']}-->" >
								<!--{$temp['title']}-->
							</a>
						</div>
						<div id="article_inf">
							<div class="left">
								回复数:<!--{$temp['reply_number']}-->
							</div>
							<div class="right">
								    <!--{$temp['time_at']}-->
							</div>
						</div>
					</li>
            	</foreach>

            </ul>
        </div>
    </div>

    <div id="detail_t">
    	<form>
        	<select name="pie_city" id="pie_city" onchange="refresh_detail()" autocomplete="off">
            			<option value="3" <eq name="city" value="3">selected="selected"</eq>>长 沙 市</option>
                        <option value="2" <eq name="city" value="2">selected="selected"</eq>>株 洲 市</option>
                		<option value="7" <eq name="city" value="7">selected="selected"</eq>>湘 潭 市</option>
               			<option value="5" <eq name="city" value="5">selected="selected"</eq>>衡 阳 市</option>
               			<option value="10" <eq name="city" value="10">selected="selected"</eq>>岳 阳 市</option>
               			<option value="4" <eq name="city" value="4">selected="selected"</eq>>益 阳 市</option>
               			<option value="9" <eq name="city" value="9">selected="selected"</eq>>常 德 市</option>
               			<option value="12" <eq name="city" value="12">selected="selected"</eq>>邵 阳 市</option>
               			<option value="13" <eq name="city" value="13">selected="selected"</eq>>娄 底 市</option>
               			<option value="8" <eq name="city" value="8">selected="selected"</eq>>永 州 市</option>
               			<option value="11" <eq name="city" value="11">selected="selected"</eq>>郴 州 市</option>
               			<option value="6" <eq name="city" value="6">selected="selected"</eq>>怀 化 市</option>
               			<option value="14" <eq name="city" value="14">selected="selected"</eq>>湘 西 州</option>
               			<option value="1" <eq name="city" value="1">selected="selected"</eq>>张 家 界</option>
            </select>
        	<select name="pie_year" id="pie_year" onchange="change_day()" autocomplete="off">
               <for start="2012" end="2018" name="temp">
               		<option value="<!--{$temp}-->" <eq name="temp" value="$detailDate:year">selected="selected"</eq> ><!--{$temp}--> 年</option>
               </for>
            </select>
            <select name="pie_month" id="pie_month" onchange="change_day()" autocomplete="off">
            	<for start="1" end="13" name="temp">
               		<option value="<!--{$temp}-->" <eq name="temp" value="$detailDate:month">selected="selected"</eq> ><lt name="temp" value="10">0</lt><!--{$temp}--> 月</option>
               </for>
            </select>
            <select name="pie_day" id="pie_day" onchange="refresh_detail()" autocomplete="off">
            	<option value='0'>选择日期</option>
            	<for start="1" end="$detailDate:dayNum+1" name="temp">
            		<option value="<!--{$temp}-->" <eq name="temp" value="$detailDate:day">selected="selected"</eq> ><lt name="temp" value="10">0</lt><!--{$temp}--> 日</option>

				</for>
            </select>
        </form>
    </div>


</div>
    <script type="text/javascript">
		var hot_word	=	<!--{$wordData}-->;
		var hot_word_r	=	<!--{$wordRate}-->;
		var pie_data	=	<!--{$pieData}-->;
		var myPie;
		// 路径配置
        require.config({
            paths:{
                'echarts' : '__JS__echarts',
                'echarts/chart/bar' : '__JS__echarts'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
        function(ec) {
        // 基于准备好的dom，初始化echarts图表
        		myPie = echarts.init(document.getElementById('pie_main'));
				var option = {
					title : {
					text: '',
					subtext: '',
					x:'center'
				},
				tooltip : {
					trigger: 'item',
					formatter: "{a} <br/>{b} : {c} ({d}%)"
				},
				legend: {
					orient : 'vertical',
					x : 'left',
					data:['乐','好','怒','哀','惧','恶','惊']
				},
				toolbox: {
					show : false,
					feature : {
						mark : {show: false},
						dataView : {show: false, readOnly: false},
						restore : {show: true},
						saveAsImage : {show: true},
					}

				},
				calculable : true,
				series : [
					{
						name:'情绪百分比',
						type:'pie',
						radius : '55%',
						center: ['30%', 225],
						data:[
							{value:pie_data[0], name:'乐'},
							{value:pie_data[1], name:'好'},
							{value:pie_data[2], name:'怒'},
							{value:pie_data[3], name:'哀'},
							{value:pie_data[4], name:'惧'},
							{value:pie_data[5], name:'恶'},
							{value:pie_data[6], name:'惊'}
						]
					}
				]
				};
			// 为echarts对象加载数据
			myPie.setOption(option);
		})
		</script>
    <script type="text/javascript">

		var myPie_Bar;
		// 路径配置
        require.config({
            paths:{
                'echarts' : 'js/echarts',
                'echarts/chart/bar' : 'js/echarts'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
        function(ec) {
        // 基于准备好的dom，初始化echarts图表
        		myPie_Bar = echarts.init(document.getElementById('pie_right'));
				var option = {
					title : {
						text: '',
						subtext: ''
					},
					tooltip : {
						trigger: 'axis',
					},
					legend: {
						data:['情感强度']
					},
					toolbox: {
						show : false,
						feature : {
							mark : {show: true},
							magicType : {show: true, type: ['line', 'bar','stack','tiled']},
							restore : {show: true},
							saveAsImage : {show: true}
						}
					},
					calculable : true,
					dataZoom:{show:false},
					xAxis : [
						{
							type : 'category',
							//boundaryGap : false,
							<!------->
							position: 'bottom',
							boundaryGap: true,
							axisLine : {    // 轴线
								show: true,
								lineStyle: {
									color: 'green',
									type: 'solid',
									width: 2
								}
							},
							axisTick : {    // 轴标记
								show:true,
								length: 10,
								lineStyle: {
									color: 'red',
									type: 'solid',
									width: 2
								}
							},
							axisLabel : {
								show:true,
								interval: 'auto',    // {number}
								rotate: 0,
								margin: 8,
								textStyle: {
									color: 'blue',
									fontFamily: 'sans-serif',
									fontSize: 13,
									fontStyle: 'italic',
									fontWeight: 'bold'
								}
							},
							splitLine : {
								show:true,
								lineStyle: {
									color: '#483d8b',
									type: 'dashed',
									width: 1
								}
							},
							splitArea : {
								show: true,
								areaStyle:{
									color:['rgba(144,238,144,0.3)','rgba(135,200,250,0.3)']
								}
							},

							data : ['乐','好','怒','哀','惧','恶','惊']
						}

					],
					yAxis : [
						{
							type : 'value',
							axisLabel : {
								formatter: '{value} 分'
							},
							splitArea : {show : true}
						}
					],
					series : [
						{
							name:'情感强度',
							type:'bar',
							itemStyle: {
								normal: {
									lineStyle: {
										shadowColor : 'rgba(0,0,0,0.4)',
										shadowBlur: 5,
										shadowOffsetX: 3,
										shadowOffsetY: 3
									}
								}
							},
							data:[pie_data[0],pie_data[1],pie_data[2],pie_data[3],pie_data[4],pie_data[5],pie_data[6]]
						},

					]
				};
			// 为echarts对象加载数据
			myPie_Bar.setOption(option);
		})
		</script>
    <script type="text/javascript">

		var hotWord;
		// 路径配置
        require.config({
            paths:{
                'echarts' : 'js/echarts',
                'echarts/chart/bar' : 'js/echarts'
            }
        });

        // 使用
        require(
            [
                'echarts',
                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
            ],
        function(ec) {
        // 基于准备好的dom，初始化echarts图表
        		myChart_hotWord = echarts.init(document.getElementById('hot_word'));
				var option = {
					title : {
						text: '当天热词',
						subtext: '数据来自红网',
						x:'left',
						y:'top'
					},
					tooltip : {
						trigger: 'item',
						formatter: '{a} : {b}'
					},
					toolbox: {
						show : true,
						feature : {
							restore : {show: true},
							saveAsImage : {show: true}
						}
					},
					legend: {
						x: 'left',
						data:['','']
					},
					series : [
						{
							type:'force',
							name : "人物关系",
							categories : [
								{
									name: '热词'
								},
								{
									name: '一级热度'
								},
								{
									name: '二级热度'
								}
							],
							itemStyle: {
								normal: {
									label: {
										show: true,
										textStyle: {
											color: '#333'
										}
									},
									nodeStyle : {
										brushType : 'both',
										strokeColor : 'rgba(255,215,0,0.4)',
										lineWidth : 1
									}
								},
								emphasis: {
									label: {
										show: false
										// textStyle: null      // 默认使用全局文本样式，详见TEXTSTYLE
									},
									nodeStyle : {
										//r: 30
									},
									linkStyle : {}
								}
							},
							useWorker: false,
							minRadius : 15,
							maxRadius : 25,
							gravity: 1.1,
							scaling: 1.1,
							linkSymbol: 'arrow',
							nodes:[
								{category:0, name: '热词', value : 10},
								{category:1, name: hot_word[0],value : hot_word_r[0]},
								{category:1, name: hot_word[1],value : hot_word_r[1]},
								{category:1, name: hot_word[2],value : hot_word_r[2]},
								{category:2, name: hot_word[3],value : hot_word_r[3]},
								{category:2, name: hot_word[4],value : hot_word_r[4]},
								{category:2, name: hot_word[5],value : hot_word_r[5]},
								{category:2, name: hot_word[6],value : hot_word_r[6]},
								{category:2, name: hot_word[7],value : hot_word_r[7]},
								{category:2, name: hot_word[8],value : hot_word_r[8]},
								{category:2, name: hot_word[9],value : hot_word_r[9]}
							],
							links : [
								{source : hot_word[0], target : '热词', weight : 10},
								{source : hot_word[1], target : '热词', weight : 10},
								{source : hot_word[2], target : '热词', weight : 10},
								{source : hot_word[3], target : '热词', weight : 1},
								{source : hot_word[4], target : '热词', weight : 1},
								{source : hot_word[5], target : '热词', weight : 1},
								{source : hot_word[6], target : '热词', weight : 1},
								{source : hot_word[7], target : '热词', weight : 1},
								{source : hot_word[8], target : '热词', weight : 1},
								{source : hot_word[9], target : '热词', weight : 1},

								{source : hot_word[3], target : hot_word[0], weight : 1},
								{source : hot_word[4], target : hot_word[0], weight : 1},
								{source : hot_word[5], target : hot_word[0], weight : 1},
								{source : hot_word[6], target : hot_word[1], weight : 1},
								{source : hot_word[7], target : hot_word[1], weight : 1},
								{source : hot_word[8], target : hot_word[2], weight : 6},
								{source : hot_word[9], target : hot_word[2], weight : 1}
							]
						}
					]
				};
				var ecConfig = require('echarts/config');
				function focusx(param) {
					var data = param.data;
					var links = option.series[0].links;
					var nodes = option.series[0].nodes;
					if (
						data.source !== undefined
						&& data.target !== undefined
					) { //点击的是边
						var sourceNode = nodes[data.source];
						var targetNode = nodes[data.target];
						console.log("选中了边 " + sourceNode.name + ' -> ' + targetNode.name + ' (' + data.weight + ')');
					} else { // 点击的是点
						console.log("选中了" + data.name + '(' + data.value + ')');
					}
					console.log(param);
				}
				myChart_hotWord.on(ecConfig.EVENT.CLICK, focusx)     ;
			// 为echarts对象加载数据
			myChart_hotWord.setOption(option);
		})
		</script>