<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>红网情感数据监控网后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
	
</head>
<frameset rows="100,6,*,6" framespacing="0" border="0" id="main">
	<frame src="<!--{:U('Admin/Index/header')}-->" id="header-frame" name="header-frame" frameborder="no" scrolling="no" noresize="noresize">
	<frame src="<!--{:U('Admin/Index/bar')}-->" id="menu-frame" name="menu-frame" frameborder="no" scrolling="no" noresize="noresize">
	<frameset cols="180,6,*" framespacing="0" border="0" id="frame-body">
    	<frame src="<!--{:U('Admin/Index/menu')}-->" id="menu-frame" name="menu-frame" frameborder="no" scrolling="yes" noresize="noresize">
   	 	<frame src="<!--{:U('Admin/Index/bar')}-->" id="menu-frame" name="menu-frame" frameborder="no" scrolling="no" noresize="noresize">
		<frame src="<!--{:U('Admin/Index/main')}-->" id="main-frame" name="main-frame" frameborder="no" scrolling="yes" noresize="noresize">	
	</frameset>
	<frame src="<!--{:U('Admin/Index/bar')}-->" id="menu-frame" name="menu-frame" frameborder="no" scrolling="no" noresize="noresize">
</frameset>
<html>