<include file="Index/header" />
<div id="carousel_container" class="carousel slide full_height">
	<div id="nav-top">
    	<div id="nav">
            <ul id="myTab" class="nav nav-tabs" role="tablist">
            	<li role="presentation">
                	<a onclick="switchToTab('map')" data-toggle="tab">地图</a>
                </li>
                <li role="presentation" class="active">
                	<a onclick="switchToTab('bar')" data-toggle="tab">柱状图</a>
                </li>
                <li role="presentation">
               	 	<a onclick="switchToTab('line')" data-toggle="tab">月变化折线图</a>
                </li>
                <li role="presentation">
                	<a onclick="switchToTab('jh')" data-toggle="tab">红网精帖</a>
                </li>
                <li role="presentation" id="forLineClick">
                	<a onclick="switchToTab('detail')" data-toggle="tab">每日详情</a>
                </li>
                <li role="presentation">
                	<a onclick="switchToTab('all')" data-toggle="tab">年变化折线图</a>
                </li>
                <li role="presentation">
                	<a onclick="switchToTab('compare')" data-toggle="tab">实况预测对比</a>
                </li>
            </ul> 
        </div>
    </div>
	<div class="tab-content">
		<div class="tab-pane fade in active" id="page_home">
			<div class="main-slide">
				<div class="splash">
                	<div class="charts-main_bar">
						<div id="bar_main">	
							<div id="bar" style="width:750px;height:510px;margin-top:5%;float:left;"></div>
							<div id="bar-intro" style="width:240px;height:510px;margin-top:5%;float:left;position:relative;">
								<div id="bar-intro-body" style="position:absolute;top:57px;width:240px;height:430px;">
									<p style="font-size:1.1em;line-height:35px;">
							        	Tips:
							            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							           	 柱状图数据与等高线地图引用的是同一组数据，虚线代表平均值。
							            <br/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
							           	 当选中某一种情感时，得分越高表明该种情感越强烈；当选中显示综合情感时，得分越高则说明正面情感越强烈；当负面情绪很强烈时，这里的得分有可能会出现负分。
							        </p>
								</div>
							</div>
						</div>
					    <script type="text/javascript">
					    	var feel_data=(<!--{$weekData}-->);
					    </script>
					    <script type="text/javascript">
					        // 路径配置
					        require.config({
					            paths:{ 
					                'echarts' : '__JS__echarts',
					                'echarts/chart/bar' : '__JS__echarts'
					            }
					        });
					        
					        // 使用
					        require(
					            [
					                'echarts',
					                'echarts/chart/bar' // 使用柱状图就加载bar模块，按需加载
					            ],
					            function(ec) {
					                // 基于准备好的dom，初始化echarts图表
					                myChart_bar = ec.init(document.getElementById('bar')); 
					                option_bar_a = {
										title : {
											text: '湖南省14市州情感统计图:<!--{$opinionZH}-->',
											subtext: '数据来自红网论坛'
										},
										tooltip : {
											trigger: 'axis',
										},
										legend: {
											data:['情感强度']
										},
										toolbox: {
											show : false,
											feature : {
												mark : {show: true},
												magicType : {show: true, type: ['line', 'bar','stack','tiled']},
												restore : {show: true},
												saveAsImage : {show: true}
											}
										},
										calculable : true,
										dataZoom:{show:false},
										xAxis : [
											{
												type : 'category',
												//boundaryGap : false,
												<!------->
												position: 'bottom',
												boundaryGap: true,
												axisLine : {    // 轴线
													show: true,
													lineStyle: {
														color: 'green',
														type: 'solid',
														width: 2
													}
												},
												axisTick : {    // 轴标记
													show:true,
													length: 10,
													lineStyle: {
														color: 'red',
														type: 'solid',
														width: 2
													}
												},
												axisLabel : {
													show:true,
													interval: 'auto',    // {number}
													rotate: 30,
													margin: 8,
													textStyle: {
														color: 'blue',
														fontFamily: 'sans-serif',
														fontSize: 13,
														fontStyle: 'italic',
														fontWeight: 'bold'
													}
												},
												splitLine : {
													show:true,
													lineStyle: {
														color: '#483d8b',
														type: 'dashed',
														width: 1
													}
												},
												splitArea : {
													show: true,
													areaStyle:{
														color:['rgba(144,238,144,0.3)','rgba(135,200,250,0.3)']
													}
												},
												
												data : ['长沙','株洲','湘潭','衡阳','岳阳','益阳','常德','邵阳','娄底','永州','郴州','怀化','湘西','张家界']
											}
											
										],
										yAxis : [
											{
												type : 'value',
												axisLabel : {
													formatter: '{value} 分'
												},
												splitArea : {show : true}
											}
										],
										series : [
											{
												name:'情感强度',
												type:'bar',
												itemStyle: {
													normal: {
														lineStyle: {
															shadowColor : 'rgba(0,0,0,0.4)',
															shadowBlur: 5,
															shadowOffsetX: 3,
															shadowOffsetY: 3
														}
													}
												},
												data:[feel_data[0],feel_data[1],feel_data[2],feel_data[3],feel_data[4],feel_data[5],feel_data[6],feel_data[7],feel_data[8],feel_data[9],feel_data[10],feel_data[11],feel_data[12],feel_data[13]],
												markLine : {
													data : [
														{type : 'average', name: '平均值'}
													]
												}
											},
										]
									};
					                // 为echarts对象加载数据 
					                myChart_bar.setOption(option_bar_a); 
					            }
					        );
					    </script>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<include file="Index/footer" />