<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>红网情感数据监控网后台</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache"> 
	<META HTTP-EQUIV="Cache-Control" CONTENT="no-store, must-revalidate"> 
	<META HTTP-EQUIV="expires" CONTENT="0">
	<link rel="stylesheet" type="text/css" href="__CSS__admin/forecast.css" />
    <script type="text/javascript" src="__JS__echarts-plain-map.js"></script>
    <script type="text/javascript" src="__JS__esl.js"></script>
    <script type="text/javascript">
    function goCompare(){
    	var ci=document.getElementsByName("ci");
    	var ye=document.getElementsByName("ye");
    	var mo=document.getElementsByName("mo");
    	
    	window.location.href="/index.php/Admin/Forecast/compare/ci/"+ci+"/ye/"+ye+"/mo/"+mo+".html";
    }
    </script>
</head>
<body>
	<div id="main">
		<div id="line-title">
<!--{$cym["city"]}--> <!--{$cym["year"]}--> 年 <!--{$cym["month"]}--> 月 综合情感预测实况对比
		</div>
		<div id="sel-c-y-m">
			<form>
				<select name="ci" class="ci">
					<option value="1"  <eq name="cym['ci']" value="1">selected="selected"</eq> >长 沙 市</option>
               	 	<option value="2"  <eq name="cym['ci']" value="2">selected="selected"</eq> >株 洲 市</option>
                	<option value="3"  <eq name="cym['ci']" value="3">selected="selected"</eq> >湘 潭 市</option>
               		<option value="4"  <eq name="cym['ci']" value="4">selected="selected"</eq> >衡 阳 市</option>
               		<option value="5"  <eq name="cym['ci']" value="5">selected="selected"</eq> >岳 阳 市</option>
               		<option value="6"  <eq name="cym['ci']" value="6">selected="selected"</eq> >益 阳 市</option>
               		<option value="7"  <eq name="cym['ci']" value="7">selected="selected"</eq> >常 德 市</option>
               		<option value="8"  <eq name="cym['ci']" value="8">selected="selected"</eq> >邵 阳 市</option>
               		<option value="9"  <eq name="cym['ci']" value="9">selected="selected"</eq> >娄 底 市</option>
               		<option value="10" <eq name="cym['ci']" value="10">selected="selected"</eq>>永 州 市</option>
               		<option value="11" <eq name="cym['ci']" value="11">selected="selected"</eq>>郴 州 市</option>
               		<option value="12" <eq name="cym['ci']" value="12">selected="selected"</eq>>怀 化 市</option>
               		<option value="13" <eq name="cym['ci']" value="13">selected="selected"</eq>>湘 西 州</option>
               		<option value="14" <eq name="cym['ci']" value="14">selected="selected"</eq>>张 家 界</option>
				</select>
				<select name="ye" class="ye">
					<for start="2012" end="$cym['nowyear']+1" name="temp">
        				<option <eq name="temp" value="$cym['year']">selected="selected"</eq> value="<!--{$temp}-->"><!--{$temp}-->年</option>
        			</for>
				</select>
				<select name="mo" class="mo">
        			<for start="1" end="13" name="temp">
        				<option <eq name="temp" value="$cym['month']">selected="selected"</eq> value="<!--{$temp}-->" <eq name="temp" value="$dateNow:month">selected="selected"</eq> ><lt name="temp" value="10">0</lt><!--{$temp}--> 月</option>
        			</for>
        		</select>
        		<button onclick="goCompare()">查看</button>
			</form>
		</div>
    	<div id="line"></div>
    	<div id="blank-h"></div>
	</div>
    <script type="text/javascript">
    var xList=<!--{$monthList}-->;
	var yListFore=<!--{$monthData}-->;
	var yListFect=<!--{$fectData}-->;
	var length=xList.length;
	{
		xList[length]	   ="-";	xList[length+1]		=	"阈值";
		yListFore[length]  ="-";	yListFore[length+1]	=	15;	
		yListFect[length]  ="-";	yListFect[length+1]	=	-15;
		
	}
    </script>
    <script type="text/javascript">
		
        // 路径配置
		
        require.config({
            paths:{ 
                'echarts' : '__JS__/echarts',
                'echarts/chart/bar' : '__JS__/echarts'
            }
        });		
		option = {
			title : {
				text: '',
				subtext: '  Y=lg(情感值)'
			},
			tooltip : {
				trigger: 'axis'
			},
			legend: {
				data:['预测结果','实际结果'],
			},
			toolbox: {
				show : true,
				feature : {
					magicType : {show: true, type: ['line', 'bar']},
					restore : {show: true},
					saveAsImage : {show: true}
				}
			},
			calculable : false,
			xAxis : [
			{
				type : 'category',
				boundaryGap : false,
				data : xList
			}
			],
			yAxis : [
			{
				type : 'value',
				axisLabel : {
					formatter: '{value} '
				},
				splitArea : {show : true}
			}
			],
			dataZoom : {
					show : true,
					realtime : true,
					y: 460,
					height: 20,
					start : 0,
					end : 100
				},
			series : [
				{
					name:'预测结果',
					type:'line',
					itemStyle: {
						normal: {
							lineStyle: {
								color:'',
								shadowColor : 'rgba(0,0,0,0.3)',
								shadowBlur: 5,
								shadowOffsetX: 3,
								shadowOffsetY: 3
							}
						}
					},
					data:yListFore
				},
				{
					name:'实际结果',
					type:'line',
					itemStyle: {
						normal: {
							lineStyle: {
								color:'',
								shadowColor : 'rgba(0,0,0,0.3)',
								shadowBlur: 5,
								shadowOffsetX: 3,
								shadowOffsetY: 3
							}
						}
					},
					data:yListFect
				}
			]
		};//end option
		require([
				'echarts',
				'echarts/chart/line',
				'echarts/chart/bar'
				],
				function (ec) {
					myChart_line_main = ec.init(document.getElementById('line'));
					myChart_line_main.setOption(option);
				}
		);
			
    </script>
</body>
<html>